OPENAI_API_KEY=

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=ju_bot_vdb

# Mongo
MONGO_HOST=localhost
MONGO_PORT=27077
MONGO_ROOT_USERNAME=ju_bot_2025
MONGO_ROOT_PASSWORD=ju_bot_2025_AICrunch
MONGO_DATABASE=ju_bot

# Admin
ADMIN_USERNAME=ju_bot_admin
ADMIN_EMAIL=admin@ju.edu.jo
ADMIN_PASSWORD=ju_bot_ai_crunch_2025
